  #about {
    background-color: rgba(0, 0, 0, 0.8);
  }
  #about p {
    color: white;
    font-size: 18px;
  }
  #abc-title {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
  }
  #about .about-title img{
    width: 50%;
  }
  #slider {
    height: 200px;
    width: 80vw;
    margin: auto;
  }
  #slider img {
    height: 200px;
  }
  #pagechange {
    background-color: #000;
  }
  
  .pagechange {
    background-color: rgb(0, 0, 0);
    border: 1px outset rgb(48, 47, 47);
    padding: 15px;
    color: white;
  }
  .pagechange:hover {
    box-shadow: 3px 3px rgb(95, 93, 93);
    transform: translate(-5px, -5px);
    transition: 0.5s;
  }
  .card {
    background-color: rgb(27, 27, 27);
    width: 70vw;
  }
  .card img {
    height: 50%;
  }
  
  @media (min-width: 768px) {
    #slider {
      height: 90%;
      width: 90%;
    }
    #slider img {
      height: 100%;
    }
    .card {
      background-color: rgb(27, 27, 27);
      width: 100%;
    }
    .card img {
      height: 50%;
    }
  }