.bg-cart {
    background: url("assets/images/4f7a4879df3edd502d7be10aca525b96.jpg")no-repeat center center black;
    background-size: cover;
    width: 100vw;
    height:100vh
  }
  .bgmap{
    background-color: rgba(0, 0, 0, 0.5);
  }
  .payimg img{
    width: 5vh;
  }